#mnc-logo{
 width: 4%;   
}
.nav-link{
    margin-left: 2px;
}
.nav-logo-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 20%;
    border: 0px solid rgb(252, 147, 147);
}
.nav-logo-container div{
    border: 0px solid rgb(73, 231, 0);
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 0px 0px 2%;
}
#mnc-logo{
    width: 55px;
    height: 65px;
}





@media screen and (max-width: 480px) {
 .nav-logo-container{
    width: 250px;
 }   
}