<!DOCTYPE html>
<html lang="en"
    class="transition delay-200 bg-opacity-75 scroll-smooth bg-gradient-to-b from-[#fefae0] via-[#ebeec6] to-[#ccd5ae] no-scrollbar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEAN | Your Nutrition Expert</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/scrollbar.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" /> -->

</head>

<body class="w-full">
    <main class="flex flex-col ">
        <nav class="flex justify-start m-4 md:gap-x-6 gap-x-3">
            <div class="avatar">
                <a href="/">
                    <div
                        class="w-10 transition duration-300 ease-in-out bg-white cursor-pointer md:w-14 rounded-xl drop-shadow-xl hover:scale-105 hover:translate-y-1">
                        <img src="/images/logo.png" />
                    </div>
                </a>
            </div>
            <ul class="flex items-center justify-center list-none md:gap-x-3">
                <a href="#about">
                    <li
                        class="p-1 px-2 font-medium text-[#002500] transition duration-300 rounded-full md:text-lg whitespace-nowrap hover:bg-gray-200 hover:bg-opacity-40 hover:scale-105 ">
                        About us</li>
                </a>
                <a href="#features">
                    <li
                        class="p-1 px-2 font-medium text-[#002500] transition duration-300 rounded-full md:text-lg hover:bg-gray-200 hover:bg-opacity-40 hover:scale-105 ">
                        Features</li>
                </a>
                <a href="#contact">
                    <li
                        class="p-1 px-2 font-medium text-[#002500] transition duration-300 rounded-full md:text-lg whitespace-nowrap hover:bg-gray-200 hover:bg-opacity-40 hover:scale-105 ">
                        Contact us</li>
                </a>
            </ul>

        </nav>

        <!-- HERO -->

        <section
            class="flex flex-col items-center self-start justify-start w-11/12 mt-10 bg-[#4d8b31] md:flex-row rounded-e-2xl bg-opacity-50 h-1/4 md:h-96">
            <div class="flex flex-col pl-5 mt-10 font-medium text-white md:m-28 md:pl-0 ">
                <div class="ml-2 text-base font-light">INDIA</div>
                <div class="text-4xl font-bold md:text-6xl">CLEAN</div>
                <div class="text-xl font-semibold md:text-3xl md:whitespace-nowrap">Your Nutrition Expert</div>
                <p class="mt-2 text-xl font-medium text-gray-200 text ">Know what inside your food
                    because, your health is our priority</p>

                <a href="/signIn">
                    <button
                        class="self-start md:p-5 md:px-16 px-8 p-3 mt-5 md:-ml-2 text-2xl font-bold transition duration-300 ease-in-out bg-emerald-400 bg-opacity-70 border-2 border-white rounded-full hover:scale-105 hover:-translate-y-1  md:hover:border-[3px]">Get
                        Started</button>
                </a>
            </div>
            <div class="">
                <img src="/images/illustration.png" alt="" class="w-full select-none drop-shadow-2xl md:min-w-36">
            </div>
        </section>

        <!-- About -->
        <section class="flex w-full md:mt-10 drop-shadow-2x " id="about">
            <div
                class="flex flex-col w-full p-5 mx-5 my-10 text-lg text-white transition duration-500 ease-in-out md:text-2xl drop-shadow-2xl rounded-3xl md:m-10 md:mx-20 md:mt-32 bg-[#4d8b31] bg-opacity-50 md:hover:scale-105 md:hover:-translate-y-2">
                <h1 class="mb-5 text-2xl font-bold text-transparent bg-clip-text bg-[#355035] md:text-3xl">
                    About us
                </h1>
                <div class="flex flex-col-reverse items-center justify-between w-full gap-5 md:flex-row">
                    <p class="w-full mb-5 font-medium text-center text-gray-100 md:text-left md:w-1/2 md:mb-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odio minima vitae reiciendis!
                        Facere
                        molestias eaque eum ut aliquam magnam nobis sint ipsum, amet fugiat voluptatibus dignissimos
                        distinctio
                        obcaecati incidunt, maiores sed. Enim accusamus facilis, atque est error minima labore
                        aspernatur quo
                        quisquam incidunt illo quos iusto. Magni, natus ducimus.
                    </p>
                    <img src="/images/supermarket.png" alt="illustration"
                        class="object-contain w-full -skew-x-3 -skew-y-3 select-none md:w-2/3 md:-mb-40 md:float-end">
                </div>
            </div>
        </section>

        <!-- Features -->

        <section class="flex flex-col items-center justify-center" id="features">
            <div class="text-4xl font-semibold text-transparent md:mt-20 bg-clip-text bg-[#355035]">
                Features
            </div>
            <div class="w-full mt-10 bg-[#ccd5ae] md:relative just bg-opacity-45 md:h-60 ">
                <div
                    class="flex flex-col items-center justify-around w-full mt-5 md:absolute md:mt-16 gap-y-10 md:flex-row">
                    <div
                        class="flex flex-col items-center w-3/4 px-6 transition duration-500 ease-in-out bg-white bg-opacity-75 cursor-pointer md:relative md:w-1/5 md:hover:scale-105 max-h-56 min-h-64 rounded-3xl drop-shadow-2xl md:hover:-translate-y-6">
                        <div class="absolute w-16 h-16 p-1 -mt-8 bg-white border-4 border-blue-800 rounded-full"><img
                                src="/images/risk.png" alt="risk" class="select-none drop-shadow-2xl"></div>
                        <h1 class="p-2 mt-10 text-xl font-semibold text-black ">Risk Scores</h1>
                        <p class="p-3 `px-4 text-base text-center text-gray-600 ">Get to know Long Term Risks, Health
                            Impact and
                            Immediate
                            Risk on
                            the
                            Spot and Decide on your own.</p>
                    </div>
                    <div
                        class="flex flex-col items-center w-3/4 px-6 transition duration-500 ease-in-out bg-white bg-opacity-75 cursor-pointer md:relative md:w-1/5 md:hover:scale-105 max-h-56 min-h-64 rounded-3xl drop-shadow-2xl md:hover:-translate-y-6">
                        <div class="absolute w-16 h-16 p-1 -mt-8 bg-white border-4 border-blue-800 rounded-full"><img
                                src="/images/allergen.png" alt="risk" class="select-none drop-shadow-2xl"></div>
                        <h1 class="p-2 mt-10 text-xl font-semibold text-black ">Allergen Information</h1>
                        <p class="p-3 px-4 text-base text-center text-gray-600 ">Get to know if the product is safe for
                            you or not with personalized allergen Information along with all other ingredient
                            information</p>
                    </div>
                    <div
                        class="flex flex-col items-center w-3/4 px-6 transition duration-500 ease-in-out bg-white bg-opacity-75 cursor-pointer md:relative before:bg-white md:w-1/5 md:hover:scale-105 max-h-56 min-h-64 rounded-3xl drop-shadow-2xl md:hover:-translate-y-6">
                        <div class="absolute w-16 h-16 p-1 -mt-8 bg-white border-4 border-blue-800 rounded-full">
                            <img src="/images/heart.png" alt="organ" class="select-none drop-shadow-2xl">
                        </div>
                        <h1 class="p-2 mt-10 text-xl font-semibold text-center text-black md:whitespace-nowrap ">
                            Potential Organ Risks
                        </h1>
                        <p class="p-3 px-4 text-base text-center text-gray-600 ">Prioritize Your health with
                            detailed
                            Information about the Potential Organs affected by the product.</p>
                    </div>
                </div>
            </div>

        </section>
        <!-- Process -->
        <section class="flex flex-col items-center justify-center mt-48">
            <h1 class="hidden mb-5 text-4xl font-semibold text-transparent md:block bg-clip-text bg-[#355035]">
                Kickstart Your Health in Three Easy Steps !
            </h1>
            <h1
                class="mb-5 text-4xl font-semibold text-transparent md:hidden bg-clip-text bg-gradient-to-br from-amber-200 to-amber-400 ">
                #3 Healthy Steps !
            </h1>
            <div class="flex items-center justify-center w-full md:justify-center">
                <div
                    class="flex flex-col items-center justify-around w-full bg-[#ccd5ae] md:flex-row bg-opacity-45 md:h-80 ">
                    <div class="flex flex-col items-center justify-center ">
                        <img src="/images/scaning.png" alt="" class="mt-10 w-96 drop-shadow-2xl">
                        <div class="flex items-center justify-center mt-10 gap-x-3">
                            <strong class="px-4 py-2 text-xl font-bold rounded-full bg-amber-400">1</strong>
                            <div class="text-2xl font-semibold text-[#355035]">Scan Barcode</div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center justify-center ">
                        <img src="/images/analyse.png" alt="" class="-mb-6 w-96 drop-shadow-2xl">
                        <div class="flex items-center justify-center mt-8 gap-x-3">
                            <strong class="px-4 py-2 text-xl font-bold rounded-full bg-amber-400">2</strong>
                            <div class="text-2xl font-semibold text-[#355035]">Analyse</div>
                        </div>
                    </div>
                    <div class="flex flex-col items-center justify-center ">
                        <img src="/images/makeChoice.png" alt="" class="h-64 mt-20 drop-shadow-2xl">
                        <div class="flex items-center justify-center mt-16 gap-x-3">
                            <strong class="px-4 py-2 text-xl font-bold rounded-full bg-amber-400">3</strong>
                            <div class="text-2xl font-semibold text-[#355035]">Decide</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- Reviews -->
        <section class="text-gray-600 mt-28 body-font">
            <div class="container px-5 pb-24 mx-auto">
                <div
                    class="mb-10 text-2xl font-semibold text-transparent md:text-4xl md:mt-20 bg-clip-text bg-[#355035]">
                    Testimonials
                </div>
                <div class="flex flex-wrap -m-4">

                    <div class="w-full p-4 md:w-1/2">
                        <div class="h-full p-8 bg-white rounded-xl bg-opacity-80">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="block w-5 h-5 mb-4 text-gray-400" viewBox="0 0 975.036 975.036">
                                <path
                                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                                </path>
                            </svg>
                            <p class="mb-6 italic leading-relaxed">Synth chartreuse iPhone lomo cray raw denim brunch
                                everyday
                                carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack
                                venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
                            <a class="inline-flex items-center">
                                <img alt="testimonial" src="https://dummyimage.com/106x106"
                                    class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full">
                                <span class="flex flex-col flex-grow pl-4">
                                    <span class="font-medium text-gray-900 title-font">Holden Caulfield</span>
                                    <span class="text-sm text-gray-500">UI DEVELOPER</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="w-full p-4 md:w-1/2">
                        <div class="h-full p-8 bg-white rounded-xl bg-opacity-80">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="block w-5 h-5 mb-4 text-gray-400" viewBox="0 0 975.036 975.036">
                                <path
                                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                                </path>
                            </svg>
                            <p class="mb-6 italic leading-relaxed">Synth chartreuse iPhone lomo cray raw denim brunch
                                everyday
                                carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack
                                venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
                            <a class="inline-flex items-center">
                                <img alt="testimonial" src="https://dummyimage.com/106x106"
                                    class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full">
                                <span class="flex flex-col flex-grow pl-4">
                                    <span class="font-medium text-gray-900 title-font">Holden Caulfield</span>
                                    <span class="text-sm text-gray-500">UI DEVELOPER</span>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Contact -->
        <section class="flex flex-col m-10 overflow-x-hidden md:flex-row md:mt-28" id="contact">
            <div class="w-full md:w-1/2">
                <h1 class="text-3xl font-bold text-[#355035] md:text-5xl">
                    Get in touch
                </h1>
                <p class="mt-3 text-xl text-[#355035] md:text-2xl">Use our contact form for all
                    Information requests or contact us directly using the contact information
                </p>
                <p class="mt-5 font-semibold text-[#355035] md:mt-10 md:text-3xl md:whitespace-nowrap">Feel free to
                    contact
                    us via email or phone</p>
                <hr class="w-3/4 mt-10 border-t-4 md:mt-20">
                <div class="flex flex-wrap">
                    <div class="flex flex-col items-start w-1/2 mt-16 font-medium gap-y-4">
                        <div class="flex text-xl gap-x-2 md:gap-x-5">
                            <img src="/images/mail.png" alt="mail" class="w-8 max-w-full select-none">
                            <p class="text-[#355035] md:text-xl">rwc.clean@gmail.com</p>
                        </div>
                        <div class="flex text-xl gap-x-2 md:gap-x-5">
                            <img src="/images/phone.png" alt="phone" class="w-8 max-w-full select-none">
                            <p class="text-[#355035] md:text-xl whitespace-nowrap">+91-7470629602</p>
                        </div>
                    </div>
                    <div class="flex items-center justify-center mt-5 md:w-1/2">
                        <img src="/images/contact.png" alt="contact"
                            class="w-1/2 select-none md:w-full md:max-w-full drop-shadow-2xl">
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center w-full h-full ">
                <h1
                    class="mt-5 -mb-5 text-3xl font-bold text-center text-transparent md:mt-0 bg-clip-text bg-[#355035]">
                    Contact Us</h1>
                <div class="w-full p-8 bg-white md:w-2/3 bg-opacity-70 m-14 rounded-2xl drop-shadow-2xl">
                    <form action="#" class="flex flex-col">
                        <label for="name" class="mb-1 select-none md:text-lg text-zinc-800">Name</label>
                        <input type="text" placeholder="Your Name Here.." required
                            class="w-full p-2 mb-3 bg-gray-400 outline-none text-zinc-800 placeholder:text-zinc-700 min-h-10 rounded-xl bg-opacity-45"
                            id="name">
                        <label for="email" class="mb-1 select-none md:text-lg text-zinc-800">Email</label>
                        <input type="text" placeholder="Email ID" required
                            class="w-full p-2 mb-3 bg-gray-400 outline-none text-zinc-800 placeholder:text-zinc-700 min-h-10 rounded-xl bg-opacity-45"
                            id="email">
                        <label for="message" class="mb-1 select-none md:text-lg text-zinc-800">Message</label>
                        <textarea required placeholder="Type Here..."
                            class="w-full p-2 mb-3 bg-gray-400 outline-none resize-none text-zinc-800 placeholder:text-zinc-700 min-h-36 rounded-xl bg-opacity-45"
                            id="message"></textarea>

                        <input type="submit" value="Send"
                            class="p-2 text-xl text-white transition duration-300 border-0 rounded-lg outline-none cursor-pointer bg-[#4d8b31] hover:scale-105 bg-opacity-20 drop-shadow-2xl ">
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>