@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.dancing-script-DS {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.oswald-os {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    color: #eee;
    font-family: Roboto;
    margin: 0;
    min-height: 100lvh;
    background-image:
    repeating-linear-gradient(
        to right, #2d2a44c6 0 1px, transparent 2px 200px
    ),
    repeating-linear-gradient(
        to bottom, #2d2a44c6 0 1px, transparent 2px 200px
    ),
    radial-gradient(
        at 50% 50%, #2d2a44c6, #1d1b34
    );
}
::-webkit-scrollbar{
    width: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
header img{
    width: 30px;
}
header{
    width: min(1200px, 90vw);
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 30px;
}
main{
}
main .banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: -70px;
    z-index:;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}
.banner button{
    all: unset;
    border: 1px solid #afaeae55;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(
        to bottom, #eee1, transparent, #eee1
    );
    cursor: pointer;
    transition: 0.5s;
    z-index: 200;
}
.banner button:hover{
    background-color: #c691e6;
    color: #040018;
    box-shadow: 0 0 50px #c691e6;
    
}
h2{
    --to: left;
    font-size: 4em;
    font-weight:500;
    background-image: linear-gradient(
        to var(--to), #89a5df, #e46e7f, #e8e191
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 1em;
    z-index: 199;
    display: inline;
    pointer-events: none;

}
.mansi-font{
    font-family: "Oswald", sans-serif;
}
h2.right{
    margin-top: 20px;
    margin-bottom: 20px;
    --to: right;
    font-size: 2em;
}
h4{
    margin-top: -10px;
    pointer-events: none;
}
a{
    text-decoration: none;
    all: unset;
}
.banner{
    position: relative;
}
.banner #dotsCanvas{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 60%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -10;
    filter: blur(2px);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
}






