.footer{
    background-color: rgb(30, 65, 142);
    margin: 0px 0px;
    padding: 5% 7%;
}
.col-md-4 h5{
    color: white;
    font-size: 28px;
}
.col-md-4{
    color: white;
    font-size: 18px;
}
.col-md-4 a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.col-md-4 a:hover{
    color: rgb(191, 191, 167);
}
.copyright{
    color: white;
}